.sobre{
    text-align: center;
}

@media screen and (min-widht: 0) {
    .sobre{
        padding: 2.5rem 1rem;
    }   
}
@media screen and (min-widht: 768px) {
    .sobre{
        padding: 2.5rem;

    }
}